:root {
    --transition: all 400ms ease;
}

.a {
    height: 100vh;
    display: flex;
    align-items: center;
}

.a-left {
    flex: 1;
    display: flex;
    top: 48px;
    left: 24px;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
}

.a-right {
    flex: 1;
    justify-content: center;
}

.a-card.bg {
    position: absolute;
    top: 50px;
    left: 50px;
    background-color: rgb(138, 0, 0);
    transform: rotate(10deg);
    transition: var(--transition);
}

.a-card {
    width: 80%;
    height: 70vh;
    border-radius: 35px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 3px 3px 3px rgba(9, 9, 9, 0.23);
    transform: rotate(10deg);
    transition: var(--transition);
}

.a-card.bg:hover {
    transform: rotate(0);
}

.a-card:hover {
    transform: rotate(0);
}

.a-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 40px;
}


.a-title {
    font-weight: 900;
    font-size: 68px;
    color: rgb(0, 204, 204);
    text-shadow: -1px 1px 3px rgba(0, 0, 0, 0.572);
}

.a-sub {
    margin: 20px 0px;
    padding: 20px;
    font-size: 18px;
    font-weight: 700;
    color: rgb(0, 255, 255);
}

.a-desc{
    padding: 20px;
    font-weight: 700;
    font-size: 18px;
    color: rgb(0, 255, 255);
}

@media screen and (max-width:480px) {
    .a{
    flex-direction: column;
    text-align: center;
    margin-top: 50px;
    }

    .a-left {
    width: 100%;
    }

    .a-card {
    height: 30vh;
    }

    .a-card.bg, .a-award {
    display: none;
    }

    .a-right {
    padding: 20px;
    }

}