:root {
    --transition: all 400ms ease;
}

.a {
    height: 100vh;
    display: flex;
    align-items: center;
    background-color:rgb(30, 0, 49);
    border: 2px solid;
    border-image: linear-gradient(135deg, rgb(30, 0, 49), rgb(30, 0, 49), rgb(30, 0, 49),rgb(221, 2, 255)) 1;
}

.a-left {
    flex: 1;
    display: flex;
    top: 48px;
    left: 24px;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
}

.a-right {
    flex: 1;
    justify-content: center;
}

.a-card.bg {
    position: absolute;
    top: 50px;
    left: 50px;
    background-color: rgb(138, 0, 0);
    transform: rotate(10deg);
    transition: var(--transition);
}

.a-card {
    width: 80%;
    height: 70vh;
    /* border-radius: 35px; */
    border-radius: 10% 30% 50% 70%;
    /* border-radius: 50% 20% / 10% 40%; */
    position: relative;
    overflow: hidden;
    box-shadow: 0 3px 3px 3px rgba(9, 9, 9, 0.23);
    transform: rotate(10deg);
    transition: var(--transition);
}

.a-card.bg:hover {
    transform: rotate(0);
}

.a-card:hover {
    transform: rotate(0);
}

.a-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 40px;
}


.a-title {
    font-weight: 100;
    font-size: 68px;
    font-style: italic;
    color: rgb(221, 2, 255);
    text-shadow: -1px 1px 3px rgba(0, 0, 0, 0.572);
}

.a-sub {
    margin: 20px 0px;
    padding: 20px;
    font-size: 24px;
    
    /* font-weight: 700; */
    color: rgb(0, 229, 255);
}

.a-desc{
    padding: 20px;
    /* font-weight: 300; */
    font-style: italic;
    font-size: 24px;
    color: rgb(0, 229, 255);
}

@media screen and (max-width:480px) {
    .a{
    flex-direction: column;
    text-align: center;
    margin-top: 50px;
    }

    .a-left {
    width: 100%;
    }

    .a-card {
    height: 30vh;
    }

    .a-card.bg, .a-award {
    display: none;
    }

    .a-right {
    padding: 20px;
    }

}