.pl {
    padding: 50px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgb(1, 198, 212);
}

.pl-texts {
    font-size: 18px;
    font-weight: 600;
    width: 65%;
    color: rgb(138, 0, 0);
}

.pl-title {
    font-size: 50px;
    font-weight: 600;
    color: rgb(255, 196, 0);
}

pl-desc {
    margin: 20px 0px;
}

.pl-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}