.pl {
    height: 100vh;
    padding: 50px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color:rgb(30, 0, 49);
    border: 2px solid;
    border-image: linear-gradient(135deg, rgb(74,234,220), rgb(222, 65, 198), rgb(150, 0, 143), purple) 1;
}

.pl-title {
    font-size: 68px;
    font-style: italic;
    border-radius: 10px;
    font-weight: 200;
    color: rgb(221, 2, 255);
    text-shadow: -1px 1px 3px rgba(0, 0, 0, 0.415);
}

.pl-texts {
    font-size: 18px;
    font-weight: 200;
    width: 65%;
    color: rgb(73, 220, 227);
}


pl-desc {
    margin: 20px 0px;
}

.pl-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}