.c {
    display: flex;
    height: 100vh;
    position: relative;
    border: 3px solid;
    border-image: linear-gradient(135deg, rgb(255, 251, 0), rgb(251,105,98), purple, rgb(74,234,220)) 1;
    background-image: linear-gradient(135deg,rgb(74,234,220) 0%,rgb(151,120,209) 20%,rgb(207,42,186) 40%,rgb(238,44,130) 60%,rgb(251,105,98) 80%,rgb(254,248,76) 100%);
}

.c-bg {
    width: 20px;
    height: 100%;
    background-color: rgb(255, 196, 0);
    position: absolute;
}

.c-wrapper {
    padding: 50px;
    display: flex;
}

.c-left {
    flex: 1;
}

.c-right {
    flex: 1;
}

.c-title {
    color: rgb(207,42,186);
    font-size: 60px;
    width: 8%;
}

/* .c-card.bg {
    position: relative;
    padding: 20px;
    top: 5em;
    left: 1em;
}

.c-img {
    display: flex;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
    box-shadow: 0 6px 6px 6px rgba(9, 9, 9, 0.585);
} */

.c-info-item {
    color: rgb(138, 0, 0);
    display: flex;
    align-items: center;
    margin: 50px 0px;
    font-weight: 600;
    width: 70%;
}

.c-icon {
    width: 50px;
    height: 50px;
    margin-right: 20px;
    display: flex;
    
}
