.p {
    width: 100%;
    border: 1px solid transparent;
    /* border-color: rgb(0, 255, 255); */
    height: 35vh;
    margin: 20px 10px;
    background: linear-gradient(#fff, #fff) padding-box, linear-gradient(45deg, purple, )rgb(249, 91, 34) border-box;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 4px 4px rgba(9, 9, 9, 0.23);
}

.p-browser {
    height: 20px;
    background-color: rgb(216, 30, 222);
    display: flex;
    align-items: center;
    position: sticky;
    z-index: 2;
}

.p-circle {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin: 3px;
    background-color: rgb(0, 229, 255);
}

.p-img {
    width: 100%;
    height: -175%;
    transition: all 10s ease;
}

.p:hover {
    border-color: rgb(0, 229, 255);
    transform: rotate(0);
}

.p:hover .p-img {
    transform: translateY(-35%);
}

@media screen and (max-width: 480px) {
.p {
    width: 40%;
    height: 20vh;
    }
}

.p-img {
    width: 100%;
}