.p {
    width: 30%;
    height: 30vh;
    margin: 20px 10px;
    /* border: solid 2px  rgb(255, 196, 0); */
    background: linear-gradient(#fff, #fff) padding-box, linear-gradient(45deg, purple, orange) border-box;
    border: 5px solid transparent;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 4px 4px rgba(9, 9, 9, 0.23);
}

.p-browser {
    height: 20px;
    background-color: rgb(255, 196, 0);
    display: flex;
    align-items: center;
    position: sticky;
    z-index: 2;
}

.p-circle {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin: 3px;
    background-color: rgb(70, 0, 98);
}

.p-img {
    width: 100%;
    transition: all 10s ease;
}

.p:hover .p-img {
    transform: translateY(-55%);
}

@media screen and (max-width: 480px) {
.p {
    width: 40%;
    height: 20vh;
    }
}

.p-img {
    width: 100%;
}