.i {
    display: flex;
    height: 100vh;
    /* background: radial-gradient(ellipse at top, #e66465, transparent),
    radial-gradient(ellipse at bottom, #4d9f0c, transparent); */
    background-image: linear-gradient(135deg,rgb(74,234,220) 0%,rgb(151,120,209) 20%,rgb(207,42,186) 40%,rgb(238,44,130) 60%,rgb(251,105,98) 80%,rgb(254,248,76) 100%);
}

.header {
flex-direction: column;
}

ul {
    list-style-type: none;
    font-size: 20px;
}

.i-left {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.i-right {
    flex: 1;
    position: relative;
    overflow: hidden;
    border-radius: 35px 0px 0px 35px;
    box-shadow: 0 6px 6px 6px rgba(9, 9, 9, 0.23);
}

.i-left-wrapper {
    padding: 50px;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.i-intro {
    font-size: 30px;
    font-weight: 100;
    color:rgb(61, 0, 85);
    text-shadow: -1px 1px 3px rgba(0, 0, 0, 0.402);
    font-weight: 700;
}

.i-name {
    font-size: 100px;
    color: rgb(0, 204, 204);
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    text-shadow: -1px 1px 3px rgba(0, 0, 0, 0.402);
}

.i-title {
    /* display:flex; */
    height: 50px;
    overflow: hidden;
    justify-content: center;
    box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
    border-radius: 7px 7px 7px 7px;
}

.i-desc {
    font-size: 20px;
    color:rgb(61, 0, 85);
    font-weight: 600;
}

.i-title-wrapper {
    height: 100%;
    animation: move 10s ease-in-out infinite alternate;
}

@keyframes move {
    25%{
        transform: translateY(-50px);
    }
    50%{
        transform: translateY(-100px);
    }
    75%{
        transform: translateY(-150px);
    }
    100%{
        transform: translateY(-200px);
    }
}

.i-title-item {
    display: flex;
    white-space: nowrap;
    height: 50px;
    font-size: 30px;
    font-weight: bold;
    /* background-color:rgb(61, 0, 85); */
    color:rgb(61, 0, 85);
    display: flex;
}

.i-img {
    widows: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    overflow: hidden;
    border-radius: 35px;
}

.i-bg {
    background-color: purple;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}

@media screen and (max-width: 768px) {
    .navigation-menu-ul {
        display: none;
    }
}