.i {
    display: flex;
    height: 100vh;
    background-color: rgb(255, 196, 0);
}

.header {
flex-direction: column;
}

ul {
    list-style-type: none;
    font-size: 20px;
}

.navigation-menu ul {
    padding: 5px;
}

.navigation-menu li {
    list-style-type: none;
    margin: 0 1rem;
}

.navigation-menu li {
    text-decoration: none;
    display: block;
    width: 100%;
}

.navigation a{
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
    padding: .3rem .3rem;
    background-color:  rgb(0, 161, 173);
    color: rgb(138, 0, 0);
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0px 2px 2px rgba(0, 0, 0, 0.262);
}

.i-left {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.i-right {
    flex: 1;
    position: relative;
    overflow: hidden;
    border-radius: 35px 0px 0px 35px;
    box-shadow: 0 6px 6px 6px rgba(9, 9, 9, 0.23);
}

.i-left-wrapper {
    padding: 50px;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.i-intro {
    font-size: 30px;
    font-weight: 100;
    color: rgb(0, 161, 173);
    font-weight: 700;
}

.i-name {
    font-size: 100px;
    color: rgb(138, 0, 0);
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    text-shadow: -1px 1px 3px rgba(0, 242, 255, 0.75);
}

.i-title {
    /* display:flex; */
    height: 50px;
    overflow: hidden;
    justify-content: center;
    box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
    border-radius: 7px 7px 7px 7px;
}

.i-desc {
    font-size: 18px;
    color:rgb(138, 0, 0);
    font-weight: 600;
}

.i-title-wrapper {
    height: 100%;
    animation: move 10s ease-in-out infinite alternate;
}

@keyframes move {
    25%{
        transform: translateY(-50px);
    }
    50%{
        transform: translateY(-100px);
    }
    75%{
        transform: translateY(-150px);
    }
    100%{
        transform: translateY(-200px);
    }
}

.i-title-item {
    display: flex;
    white-space: nowrap;
    height: 50px;
    font-size: 30px;
    font-weight: bold;
    color: rgb(0, 161, 173);
    display: flex;
}

.i-img {
    widows: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    overflow: hidden;
    border-radius: 35px;
}

.i-bg {
    background-color: purple;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}

@media screen and (max-width: 768px) {
    .navigation-menu-ul {
        display: none;
    }
}