.i {
    display: flex;
    height: 100vh;
    /* background-image: linear-gradient(135deg,rgb(74,234,220) 0%,rgb(151,120,209) 20%,rgb(207,42,186) 40%,rgb(238,44,130) 60%,rgb(251,105,98) 80%,rgb(230, 65, 205) 100%); */
    background-color:rgb(30, 0, 49);
    border: 2px solid;
    border-image: linear-gradient(135deg, rgb(73, 220, 227), rgb(73, 220, 227), rgb(73, 220, 227), rgb(30, 0, 49), rgb(30, 0, 49), rgb(30, 0, 49)) 1;
}

.header {
flex-direction: column;
}

ul {
    list-style-type: none;
    font-size: 20px;
}

.i-left {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.i-left-wrapper {
    padding: 50px;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.i-right {
    flex: 1;
    position: relative;
    overflow: hidden;
    /* border-radius: 35px 0px 0px 35px; */
    border-radius: 10% 0% 0% 70%;
    box-shadow: 0 0 6px 6px rgba(9, 9, 9, 0.23);
}


.i-intro {
    font-size: 54px;
    /* font-family: 'Inconsolata', monospace; */
    font-family: 'Dancing Script', cursive;
    font-weight: 10;
    color: rgb(73, 220, 227);
    text-shadow: -1px 1px 3px rgba(0, 0, 0, 0.402);
}

.i-name {
    font-size: 115px;
    color: rgb(221, 2, 255);
    font-family: 'Moon Dance', cursive;
    /* font-family: 'Dancing Script', cursive; */
    font-weight: 100;
    font-style: italic;
    text-shadow: -1px 1px 3px rgba(0, 0, 0, 0.402);
}

.i-nameJapan {
    font-size: 48px;
    color: rgb(221, 2, 255);
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    font-style: italic;
    text-shadow: -1px 1px 3px rgba(0, 0, 0, 0.402);
}

.i-title {
    position: relative;
    z-index: 0;
    width: 100%;
    display:flex;
    height: 50px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}


.i-desc {
    font-size: 20px;
    font-style: italic;
    color: rgb(0, 255, 255);
    font-weight: 200;
}

.i-title-wrapper {
    height: 100%;
    animation: move 10s ease-in-out infinite alternate;
}


@keyframes move {
    25%{
        transform: translateY(-50px);
    }
    50%{
        transform: translateY(-100px);
    }
    75%{
        transform: translateY(-150px);
    }
    100%{
        transform: translateY(-200px);
    }
}

.i-title-item {
    display: flex;
    white-space: nowrap;
    height: 50px;
    font-size: 30px;
    align-items: center;
    justify-content: center;
    color: rgb(0, 255, 255);
}

.i-img {
    widows: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    overflow: hidden;
    border-radius: 35px;
}

.i-bg {
    background-color: purple;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}

@media screen and (max-width: 768px) {
    .navigation-menu-ul {
        display: none;
    }
}