:root {
    --color-bg: rgb(221, 2, 255);
    --color-bg-variant: #2c2c6c;
    --color-primary: rgb(0, 229, 255);

    --transition: all 1000ms ease;
  
    --container-width-lg: 75%;
    --container-width-md: 86%;
    --container-width-sm: 90%;
  }

* {
  text-decoration: none;
}

h1 {
  font-size: 2.5rem;
  color: var(--color-primary);
  text-align: center;
}