.f {
    background-color: rgb(187, 31, 244);
    font-size: 32px;
    color:rgb(1, 207, 207);
    height: 16vh;
    text-align: center;
}

@media screen and (max-width:428px) {
    .f {font-size: 14px;}
}